In [6]:
import pandas as pd
from utils import MysqlConnector
cnx = MysqlConnector()

In [8]:
query = """
SELECT
    school_name,
    year,
    school_subject,
    COUNT(DISTINCT lesson_id) AS num_lessons
FROM
    lessons A
JOIN dates B ON A.date_id = B.date_id 
JOIN schools C ON A.school_id = C.school_id
JOIN school_subjects D ON A.school_subject_id = D.school_subject_id
GROUP BY
    A.school_id,
    B.year,
    A.school_subject_id
ORDER BY
    A.school_id,
    B.year,
    A.school_subject_id
"""

df = cnx.fetch(query)
df

ProgrammingError: 1146 (42S02): Table 'schools.lessons_fact' doesn't exist

In [28]:
# show a widget to select the school and year
import ipywidgets as widgets
from IPython.display import display

school_name = widgets.Dropdown(
    options=df['school_name'].unique(),
    value=df['school_name'].unique()[0],
    description='School:',
    disabled=False,
)

year = widgets.Dropdown(
    options=df['year'].unique(),
    value=df['year'].unique()[0],
    description='Year:',
    disabled=False,
)

# widget to show the filtered dataframe
output = widgets.Output()

display(school_name)
display(year)
display(output)


# filter the dataframe to show the selected school and year and update every time the selection changes
def filter_df(change):
    filtered_df = df[(df['school_name'] == school_name.value) & (df['year'] == year.value)]
    with output:
        output.clear_output()
        display(filtered_df)

school_name.observe(filter_df, names='value')
year.observe(filter_df, names='value')

Dropdown(description='School:', options=('FERNANDINA BEACH HIGH SCHOOL', 'H D STAPLES EL'), value='FERNANDINA …

Dropdown(description='Year:', options=(2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,…

Output()