In [1]:
import pandas as pd
from utils import MysqlConnector
cnx = MysqlConnector()

In [2]:
query = """
SELECT
    school_name,
    year,
    school_subject,
    COUNT(DISTINCT lesson_id) AS num_lessons
FROM
    lessons A
JOIN dates B ON A.date_id = B.date_id 
JOIN schools C ON A.school_id = C.school_id
JOIN school_subjects D ON A.school_subject_id = D.school_subject_id
GROUP BY
    A.school_id,
    B.year,
    A.school_subject_id
ORDER BY
    A.school_id,
    B.year,
    A.school_subject_id
"""

df = cnx.fetch(query)
df

[('Brevard High', 2000, 'Math', 111142),
 ('Brevard High', 2000, 'Science', 110642),
 ('Brevard High', 2000, 'History', 111078),
 ('Brevard High', 2000, 'English', 111253),
 ('Brevard High', 2000, 'Art', 111042),
 ('Brevard High', 2000, 'Music', 111595),
 ('Brevard High', 2000, 'PE', 111311),
 ('Brevard High', 2000, 'Social Studies', 110519),
 ('Brevard High', 2000, 'Foreign Language', 111879),
 ('Brevard High', 2000, 'Technology', 111539),
 ('Brevard High', 2001, 'Math', 110332),
 ('Brevard High', 2001, 'Science', 110640),
 ('Brevard High', 2001, 'History', 111002),
 ('Brevard High', 2001, 'English', 110639),
 ('Brevard High', 2001, 'Art', 110495),
 ('Brevard High', 2001, 'Music', 111002),
 ('Brevard High', 2001, 'PE', 110484),
 ('Brevard High', 2001, 'Social Studies', 111110),
 ('Brevard High', 2001, 'Foreign Language', 111037),
 ('Brevard High', 2001, 'Technology', 110811),
 ('Brevard High', 2002, 'Math', 112286),
 ('Brevard High', 2002, 'Science', 111895),
 ('Brevard High', 2002, 'History', 112708),
 ('Brevard High', 2002, 'English', 112158),
 ('Brevard High', 2002, 'Art', 112134),
 ('Brevard High', 2002, 'Music', 112331),
 ('Brevard High', 2002, 'PE', 111762),
 ('Brevard High', 2002, 'Social Studies', 112089),
 ('Brevard High', 2002, 'Foreign Language', 112049),
 ('Brevard High', 2002, 'Technology', 111484),
 ('Brevard High', 2003, 'Math', 111932),
 ('Brevard High', 2003, 'Science', 112195),
 ('Brevard High', 2003, 'History', 112465),
 ('Brevard High', 2003, 'English', 111824),
 ('Brevard High', 2003, 'Art', 112014),
 ('Brevard High', 2003, 'Music', 112085),
 ('Brevard High', 2003, 'PE', 111916),
 ('Brevard High', 2003, 'Social Studies', 112580),
 ('Brevard High', 2003, 'Foreign Language', 112320),
 ('Brevard High', 2003, 'Technology', 111565),
 ('Brevard High', 2004, 'Math', 111579),
 ('Brevard High', 2004, 'Science', 111711),
 ('Brevard High', 2004, 'History', 112043),
 ('Brevard High', 2004, 'English', 112267),
 ('Brevard High', 2004, 'Art', 111835),
 ('Brevard High', 2004, 'Music', 111604),
 ('Brevard High', 2004, 'PE', 111563),
 ('Brevard High', 2004, 'Social Studies', 111117),
 ('Brevard High', 2004, 'Foreign Language', 111152),
 ('Brevard High', 2004, 'Technology', 111577),
 ('Brevard High', 2005, 'Math', 111564),
 ('Brevard High', 2005, 'Science', 111711),
 ('Brevard High', 2005, 'History', 111397),
 ('Brevard High', 2005, 'English', 111910),
 ('Brevard High', 2005, 'Art', 111710),
 ('Brevard High', 2005, 'Music', 111876),
 ('Brevard High', 2005, 'PE', 111539),
 ('Brevard High', 2005, 'Social Studies', 111336),
 ('Brevard High', 2005, 'Foreign Language', 111601),
 ('Brevard High', 2005, 'Technology', 111804),
 ('Brevard High', 2006, 'Math', 110693),
 ('Brevard High', 2006, 'Science', 110768),
 ('Brevard High', 2006, 'History', 110666),
 ('Brevard High', 2006, 'English', 110639),
 ('Brevard High', 2006, 'Art', 110637),
 ('Brevard High', 2006, 'Music', 110773),
 ('Brevard High', 2006, 'PE', 110700),
 ('Brevard High', 2006, 'Social Studies', 110700),
 ('Brevard High', 2006, 'Foreign Language', 111421),
 ('Brevard High', 2006, 'Technology', 110555),
 ('Brevard High', 2007, 'Math', 110838),
 ('Brevard High', 2007, 'Science', 110919),
 ('Brevard High', 2007, 'History', 110334),
 ('Brevard High', 2007, 'English', 110952),
 ('Brevard High', 2007, 'Art', 110418),
 ('Brevard High', 2007, 'Music', 110591),
 ('Brevard High', 2007, 'PE', 110613),
 ('Brevard High', 2007, 'Social Studies', 111031),
 ('Brevard High', 2007, 'Foreign Language', 111054),
 ('Brevard High', 2007, 'Technology', 110802),
 ('Brevard High', 2008, 'Math', 112615),
 ('Brevard High', 2008, 'Science', 112018),
 ('Brevard High', 2008, 'History', 112815),
 ('Brevard High', 2008, 'English', 112699),
 ('Brevard High', 2008, 'Art', 112551),
 ('Brevard High', 2008, 'Music', 112747),
 ('Brevard High', 2008, 'PE', 112299),
 ('Brevard High', 2008, 'Social Studies', 112617),
 ('Brevard High', 2008, 'Foreign Language', 112610),
 ('Brevard High', 2008, 'Technology', 112373),
 ('Brevard High', 2009, 'Math', 110280),
 ('Brevard High', 2009, 'Science', 110795),
 ('Brevard High', 2009, 'History', 110960),
 ('Brevard High', 2009, 'English', 110581),
 ('Brevard High', 2009, 'Art', 110641),
 ('Brevard High', 2009, 'Music', 111241),
 ('Brevard High', 2009, 'PE', 110517),
 ('Brevard High', 2009, 'Social Studies', 110737),
 ('Brevard High', 2009, 'Foreign Language', 110901),
 ('Brevard High', 2009, 'Technology', 110899),
 ('Brevard High', 2010, 'Math', 110891),
 ('Brevard High', 2010, 'Science', 111302),
 ('Brevard High', 2010, 'History', 111091),
 ('Brevard High', 2010, 'English', 110908),
 ('Brevard High', 2010, 'Art', 111166),
 ('Brevard High', 2010, 'Music', 111418),
 ('Brevard High', 2010, 'PE', 111055),
 ('Brevard High', 2010, 'Social Studies', 111872),
 ('Brevard High', 2010, 'Foreign Language', 111148),
 ('Brevard High', 2010, 'Technology', 111149),
 ('Brevard High', 2011, 'Math', 112194),
 ('Brevard High', 2011, 'Science', 111230),
 ('Brevard High', 2011, 'History', 111585),
 ('Brevard High', 2011, 'English', 111852),
 ('Brevard High', 2011, 'Art', 111339),
 ('Brevard High', 2011, 'Music', 111432),
 ('Brevard High', 2011, 'PE', 111721),
 ('Brevard High', 2011, 'Social Studies', 111637),
 ('Brevard High', 2011, 'Foreign Language', 111666),
 ('Brevard High', 2011, 'Technology', 111792),
 ('Brevard High', 2012, 'Math', 111540),
 ('Brevard High', 2012, 'Science', 110609),
 ('Brevard High', 2012, 'History', 110695),
 ('Brevard High', 2012, 'English', 110898),
 ('Brevard High', 2012, 'Art', 111324),
 ('Brevard High', 2012, 'Music', 111508),
 ('Brevard High', 2012, 'PE', 110838),
 ('Brevard High', 2012, 'Social Studies', 111502),
 ('Brevard High', 2012, 'Foreign Language', 111774),
 ('Brevard High', 2012, 'Technology', 111312),
 ('Brevard High', 2013, 'Math', 112046),
 ('Brevard High', 2013, 'Science', 111993),
 ('Brevard High', 2013, 'History', 111834),
 ('Brevard High', 2013, 'English', 111970),
 ('Brevard High', 2013, 'Art', 111913),
 ('Brevard High', 2013, 'Music', 112344),
 ('Brevard High', 2013, 'PE', 111631),
 ('Brevard High', 2013, 'Social Studies', 112561),
 ('Brevard High', 2013, 'Foreign Language', 112454),
 ('Brevard High', 2013, 'Technology', 112150),
 ('Brevard High', 2014, 'Math', 112450),
 ('Brevard High', 2014, 'Science', 111855),
 ('Brevard High', 2014, 'History', 111953),
 ('Brevard High', 2014, 'English', 111862),
 ('Brevard High', 2014, 'Art', 112354),
 ('Brevard High', 2014, 'Music', 111843),
 ('Brevard High', 2014, 'PE', 111843),
 ('Brevard High', 2014, 'Social Studies', 111960),
 ('Brevard High', 2014, 'Foreign Language', 112229),
 ('Brevard High', 2014, 'Technology', 112547),
 ('Brevard High', 2015, 'Math', 110411),
 ('Brevard High', 2015, 'Science', 111141),
 ('Brevard High', 2015, 'History', 110543),
 ('Brevard High', 2015, 'English', 111129),
 ('Brevard High', 2015, 'Art', 110390),
 ('Brevard High', 2015, 'Music', 110649),
 ('Brevard High', 2015, 'PE', 111290),
 ('Brevard High', 2015, 'Social Studies', 110874),
 ('Brevard High', 2015, 'Foreign Language', 110717),
 ('Brevard High', 2015, 'Technology', 110408),
 ('Brevard High', 2016, 'Math', 111634),
 ('Brevard High', 2016, 'Science', 111550),
 ('Brevard High', 2016, 'History', 111427),
 ('Brevard High', 2016, 'English', 112397),
 ('Brevard High', 2016, 'Art', 111017),
 ('Brevard High', 2016, 'Music', 111413),
 ('Brevard High', 2016, 'PE', 111618),
 ('Brevard High', 2016, 'Social Studies', 111278),
 ('Brevard High', 2016, 'Foreign Language', 112325),
 ('Brevard High', 2016, 'Technology', 111789),
 ('Brevard High', 2017, 'Math', 111195),
 ('Brevard High', 2017, 'Science', 110694),
 ('Brevard High', 2017, 'History', 110632),
 ('Brevard High', 2017, 'English', 110947),
 ('Brevard High', 2017, 'Art', 111402),
 ('Brevard High', 2017, 'Music', 111078),
 ('Brevard High', 2017, 'PE', 110467),
 ('Brevard High', 2017, 'Social Studies', 110435),
 ('Brevard High', 2017, 'Foreign Language', 110159),
 ('Brevard High', 2017, 'Technology', 110543),
 ('Brevard High', 2018, 'Math', 111074),
 ('Brevard High', 2018, 'Science', 110272),
 ('Brevard High', 2018, 'History', 111214),
 ('Brevard High', 2018, 'English', 110760),
 ('Brevard High', 2018, 'Art', 111063),
 ('Brevard High', 2018, 'Music', 110966),
 ('Brevard High', 2018, 'PE', 110652),
 ('Brevard High', 2018, 'Social Studies', 110793),
 ('Brevard High', 2018, 'Foreign Language', 110156),
 ('Brevard High', 2018, 'Technology', 110602),
 ('Brevard High', 2019, 'Math', 112135),
 ('Brevard High', 2019, 'Science', 112282),
 ('Brevard High', 2019, 'History', 111956),
 ('Brevard High', 2019, 'English', 112248),
 ('Brevard High', 2019, 'Art', 112476),
 ('Brevard High', 2019, 'Music', 111863),
 ('Brevard High', 2019, 'PE', 112214),
 ('Brevard High', 2019, 'Social Studies', 111900),
 ('Brevard High', 2019, 'Foreign Language', 111888),
 ('Brevard High', 2019, 'Technology', 111934),
 ('Brevard High', 2020, 'Math', 111496),
 ('Brevard High', 2020, 'Science', 110760),
 ('Brevard High', 2020, 'History', 111008),
 ('Brevard High', 2020, 'English', 111140),
 ('Brevard High', 2020, 'Art', 111033),
 ('Brevard High', 2020, 'Music', 111518),
 ('Brevard High', 2020, 'PE', 110926),
 ('Brevard High', 2020, 'Social Studies', 110841),
 ('Brevard High', 2020, 'Foreign Language', 111947),
 ('Brevard High', 2020, 'Technology', 111331),
 ('Brevard High', 2021, 'Math', 110847),
 ('Brevard High', 2021, 'Science', 111411),
 ('Brevard High', 2021, 'History', 110903),
 ('Brevard High', 2021, 'English', 111208),
 ('Brevard High', 2021, 'Art', 110527),
 ('Brevard High', 2021, 'Music', 111779),
 ('Brevard High', 2021, 'PE', 110963),
 ('Brevard High', 2021, 'Social Studies', 111108),
 ('Brevard High', 2021, 'Foreign Language', 111413),
 ('Brevard High', 2021, 'Technology', 111841),
 ('Brevard High', 2022, 'Math', 111590),
 ('Brevard High', 2022, 'Science', 111703),
 ('Brevard High', 2022, 'History', 111402),
 ('Brevard High', 2022, 'English', 111167),
 ('Brevard High', 2022, 'Art', 111573),
 ('Brevard High', 2022, 'Music', 111353),
 ('Brevard High', 2022, 'PE', 111631),
 ('Brevard High', 2022, 'Social Studies', 112141),
 ('Brevard High', 2022, 'Foreign Language', 111922),
 ('Brevard High', 2022, 'Technology', 111966)]

In [3]:
# show a widget to select the school and year
import ipywidgets as widgets
from IPython.display import display

school_name = widgets.Dropdown(
    options=df['school_name'].unique(),
    value=df['school_name'].unique()[0],
    description='School:',
    disabled=False,
)

year = widgets.Dropdown(
    options=df['year'].unique(),
    value=df['year'].unique()[0],
    description='Year:',
    disabled=False,
)

# widget to show the filtered dataframe
output = widgets.Output()

display(school_name)
display(year)
display(output)


# filter the dataframe to show the selected school and year and update every time the selection changes
def filter_df(change):
    filtered_df = df[(df['school_name'] == school_name.value) & (df['year'] == year.value)]
    with output:
        output.clear_output()
        display(filtered_df)

school_name.observe(filter_df, names='value')
year.observe(filter_df, names='value')

TypeError: list indices must be integers or slices, not str

In [23]:
schema_creation_query = '''
DROP TABLE IF EXISTS lessons;

DROP TABLE IF EXISTS dates;

DROP TABLE IF EXISTS schools;

DROP TABLE IF EXISTS school_subjects;

DROP TABLE IF EXISTS teachers;

DROP TABLE IF EXISTS class_types;

DROP TABLE IF EXISTS classrooms;

DROP TABLE IF EXISTS classes;

CREATE TABLE dates (
    date_id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE,
    year INT,
    month INT,
    day INT,
    weekday INT,
    day_of_year INT,
    is_holiday BOOLEAN,
    is_weekend BOOLEAN
);

CREATE TABLE schools (
    school_id INT AUTO_INCREMENT PRIMARY KEY,
    school_name VARCHAR(255),
    school_district VARCHAR(255),
    school_level VARCHAR(255),
    school_state VARCHAR(255),
    max_students INT
);

CREATE TABLE school_subjects (
    school_subject_id INT AUTO_INCREMENT PRIMARY KEY,
    school_subject VARCHAR(255),
    code CHAR(3)
);

CREATE TABLE teachers (
    teacher_id INT AUTO_INCREMENT PRIMARY KEY,
    teacher_name VARCHAR(255),
    sex CHAR(1),
    birthdate DATE,
    email VARCHAR(255),
    start_year INT,
    end_year INT
);

CREATE TABLE class_types (
    class_type_id INT AUTO_INCREMENT PRIMARY KEY,
    type CHAR(20)
);

CREATE TABLE classrooms (
    classroom_id INT AUTO_INCREMENT PRIMARY KEY,
    classroom_code CHAR(6)
);

CREATE TABLE classes (
    class_id INT AUTO_INCREMENT PRIMARY KEY,
    class_code CHAR(6),
    students INT,
    class_period CHAR(20),
    class_level CHAR(20)
);

CREATE TABLE lessons (
    lesson_id INT AUTO_INCREMENT PRIMARY KEY,
    school_id INT,
    class_id INT,
    date_id INT,
    school_subject_id INT,
    teacher_id INT,
    classroom_id INT,
    class_type_id INT,
    class_start INT,
    class_end INT,
    attendance INT,
    FOREIGN KEY (school_id) REFERENCES schools(school_id),
    FOREIGN KEY (class_id) REFERENCES classes(class_id),
    FOREIGN KEY (date_id) REFERENCES dates(date_id),
    FOREIGN KEY (school_subject_id) REFERENCES school_subjects(school_subject_id),
    FOREIGN KEY (teacher_id) REFERENCES teachers(teacher_id),
    FOREIGN KEY (classroom_id) REFERENCES classrooms(classroom_id),
    FOREIGN KEY (class_type_id) REFERENCES class_types(class_type_id)
);
'''

In [ ]:
# query that list all tables in the database
query = '''
SELECT