In [1]:
import pandas as pd
import time
from utils import MysqlConnector
cnx = MysqlConnector()

In [2]:
def time_fetch(cnx, query):
    start = time.time()
    result = cnx.fetch(query)
    end = time.time()
    return end - start, result

In [3]:
query = """
SELECT
    year,
    COUNT(DISTINCT lesson_id) AS num_lessons
FROM
    lessons A
JOIN dates B ON A.date_id = B.date_id 
GROUP BY
    B.year
ORDER BY
    B.year
"""

elapsed_time, df = time_fetch(cnx,query)
print(f'''Elapsed time: {elapsed_time:.2f} seconds''')
for year, rows in df:
    print(f'Year {year}: {rows} rows')

Elapsed time: 20.50 seconds
Year 2000: 1112000 rows
Year 2001: 1107552 rows
Year 2002: 1120896 rows
Year 2003: 1120896 rows
Year 2004: 1116448 rows
Year 2005: 1116448 rows
Year 2006: 1107552 rows
Year 2007: 1107552 rows
Year 2008: 1125344 rows
Year 2009: 1107552 rows
Year 2010: 1112000 rows
Year 2011: 1116448 rows
Year 2012: 1112000 rows
Year 2013: 1120896 rows
Year 2014: 1120896 rows
Year 2015: 1107552 rows
Year 2016: 1116448 rows
Year 2017: 1107552 rows
Year 2018: 1107552 rows
Year 2019: 1120896 rows
Year 2020: 1112000 rows
Year 2021: 1112000 rows
Year 2022: 1116448 rows

In [4]:
query = """
CREATE TABLE IF NOT EXISTS lessons_archive AS
SELECT * FROM lessons
WHERE date_id IN (
    SELECT date_id FROM dates
    WHERE year < 2012
);
"""
cnx.execute(query)

In [ ]:
query = """
DELETE FROM lessons
WHERE date_id IN (
    SELECT date_id FROM dates
    WHERE year < 2012
);
"""
cnx.execute(query)

In [ ]:
query = """
SELECT
    year,
    COUNT(DISTINCT lesson_id) AS num_lessons
FROM
    lessons A
JOIN dates B ON A.date_id = B.date_id 
GROUP BY
    B.year
ORDER BY
    B.year
"""

elapsed_time, df = time_fetch(cnx,query)
print(f'''Elapsed time: {elapsed_time:.2f} seconds''')
for year, rows in df:
    print(f'Year {year}: {rows} rows')

In [3]:
query = """
SELECT
    year,
    COUNT(DISTINCT lesson_id) AS num_lessons
FROM
    lessons A
JOIN dates B ON A.date_id = B.date_id 
GROUP BY
    B.year
ORDER BY
    B.year
"""

elapsed_time, df = time_fetch(cnx,query)
print(f'''Elapsed time: {elapsed_time:.2f} seconds''')
for year, rows in df:
    print(f'Year {year}: {rows} rows')

Elapsed time: 39.93 seconds
Year 2000: 1112000 rows
Year 2001: 1107552 rows
Year 2002: 1120896 rows
Year 2003: 1120896 rows
Year 2004: 1116448 rows
Year 2005: 1116448 rows
Year 2006: 1107552 rows
Year 2007: 1107552 rows
Year 2008: 1125344 rows
Year 2009: 1107552 rows
Year 2010: 1112000 rows
Year 2011: 1116448 rows
Year 2012: 1112000 rows
Year 2013: 1120896 rows
Year 2014: 1120896 rows
Year 2015: 1107552 rows
Year 2016: 1116448 rows
Year 2017: 1107552 rows
Year 2018: 1107552 rows
Year 2019: 1120896 rows
Year 2020: 1112000 rows
Year 2021: 1112000 rows
Year 2022: 1116448 rows